<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Christmas Shop</title>
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="static/js/checkout.js" defer></script>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:500,700" rel="stylesheet">


</head>
<body class="checkoutBody">
<div class="container">

    <div class="page-header checkoutHeader">
        <div class="checkoutH1">
            <img class="checkoutImage" src="/static/img/leftvector.png">
            <h1>Checkout</h1> <img class="checkoutImage" src="/static/img/rightvector.png">
        </div>
        <h3>You are two steps away from getting your beautiful christmas products!</h3>
        <h4>Fill the following form, then choose a payment method.</h4>
    </div>
    <div class="formBody">
        <br>
        <span class="dataParagraph">Personal information</span>
        <div class=" form-group">
            <label for="name" class="formLabels">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" required>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email" class="formLabels">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" required>
            </div>
            <div class="form-group col-md-6">
                <label for="phone" class="formLabels">Phone</label>
                <input type="text" class="form-control" id="phone" placeholder="Phone" required>
            </div>
            <br>
        </div>

        <div>
            <br>
            <span class="dataParagraph">Billing address</span>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="b-city" class="formLabels">City</label>
                    <input type="text" class="form-control" id="b-city" placeholder="City" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="b-country" class="formLabels">Country</label>
                    <input type="text" class="form-control" id="b-country" placeholder="Country" required>
                </div>
                <div class="form-group col-md-2">
                    <label for="b-zip" class="formLabels">ZIP-code</label>
                    <input type="text" class="form-control" id="b-zip" placeholder="ZIP-code" required>
                </div>
            </div>
            <div class="form-group">
                <label for="b-address" class="formLabels">Address</label>
                <input type="text" class="form-control" id="b-address" placeholder="Address" required>
            </div>
            <br>
            <span class="dataParagraph">Shipping address</span>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="checkbox">
                <label class="formLabels" for="checkbox">Same as billing address</label>
            </div>
        </div>
        <div id="shippingForm">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="b-country" class="formLabels">Country</label>
                    <input type="text" class="form-control" id="sh-country" placeholder="Country">
                </div>
                <div class="form-group col-md-4">
                    <label for="b-city" class="formLabels">City</label>
                    <input type="text" class="form-control" id="sh-city" placeholder="City">
                </div>
                <div class="form-group col-md-2">
                    <label for="b-zip" class="formLabels">ZIP-code</label>
                    <input type="text" class="form-control" id="sh-zip" placeholder="ZIP-code">
                </div>
            </div>
            <div class="form-group">
                <label for="b-address" class="formLabels">Address</label>
                <input type="text" class="form-control" id="sh-address" placeholder="Address">

            </div>
        </div>
        <div class="payrow">
            <div class="paycolumn">
                <div id="paypal-button" th:attr="data-amount=${amountpaypal}"></div>
                <script src="https://www.paypalobjects.com/api/checkout.js" ></script>
                <script>
                    paypal.Button.render({
                        // Configure environment
                        env: 'sandbox',
                        client: {
                            sandbox: 'demo_sandbox_client_id',
                            production: 'demo_production_client_id'
                        },
                        // Customize button (optional)
                        locale: 'en_US',
                        style: {
                            size: 'small',
                            color: 'gold',
                            shape: 'pill',
                        },

                        // Enable Pay Now checkout flow (optional)
                        commit: true,

                        // Set up a payment
                        payment: function(data, actions) {
                            return actions.payment.create({
                                transactions: [{
                                    amount: {
                                        total: document.getElementById("paypal-button").dataset.amount,
                                        currency: 'USD'
                                    }
                                }]
                            });
                        },
                        // Execute the payment
                        onAuthorize: function(data, actions) {
                            return actions.payment.execute().then(function() {
                                // Show a confirmation message to the buyer
                                window.alert('Thank you for your purchase!');
                            });
                        }
                    }, '#paypal-button');

                </script>
                <form action="/confirm" method="POST">
                    <script id="creditscript"
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_TYooMQauvdEDq54NiTphI7jx"
                            th:attr="data-amount=${amountcreditcard}, data-description=${description}"
                            data-name="Jingling Elf-pants"
                            data-image="/static/img/creditcard.png"
                            data-locale="auto"
                            data-zip-code="true"
                            defer>
                    </script>
                </form>
            </div>
        </div>
    </div>
</body>
</html>