<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="login">
        <div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" id="loginContent">
                    <div class="modal-header">
                        <h3 class="modal-title" id="loginModalLabel">Sign in</h3>
                    </div>
                    <div class="modal-body" id="loginModalBody">
                        <form>
                            <div class="form-group">
                                <label for="loginEmail">Email</label>
                                <input type="email" class="form-control" id="loginEmail" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="loginPassword">Password</label>
                                <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                            </div>
                        </form>
                        <span id="loginResponse"></span>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" id="loginButton">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>